*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#board-container{
    width: 60vh;
    height: 60vh;
    border: solid 2px orangered;
    background-color: black;
    box-sizing: content-box;
    transition: border 0.1s ease-in;

}

.card{
    background-color: beige;
    border: grey;
    border-radius: 10px;
    transition: transform 0.1s;
}

.card:hover{
    transform: scale(1.05);
}

.size-changing{
    border: solid 2px orangered;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

#generator{
    background-color: beige;
        border: solid 2px white;
        border-radius: 10px;
        font-size: 1.1rem;
        margin-bottom: 10px;
}

#generator:hover{
    transform: scale(1.1);
}

.size-changing .inputs{
    padding: 10px;
    display:  flex;
    align-items: center;
    justify-content: center;

}

.input-field{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 5px 20px;
}

.input-field label{
    color: white;
}

.input-field input {
    background-color: beige;
    border: solid 2px white;
    border-radius: 10px;
    font-size: 1.1rem;
}

