.emptySpace{
    opacity: 0;
}

#board-container{
    width: 500px;
    height: 500px;
    border: solid 2px red;
    background-color: black;

}

.card{
    background-color: beige;
    border: grey;
    

}