*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#board-container{
    width: 700px;
    height: 700px;
    border: solid 2px orangered;
    background-color: black;

}

.card{
    background-color: beige;
    border: grey;
    border-radius: 10px;
}

.size-changing{
    margin-top: 10px;
    padding: 10px;
    display:  flex;
    align-items: center;
    justify-content: center;
    border: solid 2px orangered;
    border-radius: 10px;
    background-color: black;
}

.input-field{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 5px 20px;
}

.input-field label{
    color: white;
}

.input-field input {
    background-color: beige;
    border: solid 2px white;
    border-radius: 10px;
    font-size: 1.1rem;
}

